<div class="chooseAvatar">
  <div ng-show="error == 'avatarSize'" class="alert alert-error">
    <strong>Too big!</strong> Select an avatar smaller than 20 kB.
  </div>
  <input type="file" accept="image/jpeg,image/png,image/gif" ng-model="newAvatar" ng-init="initUpload()">
  <div class="btn-toolbar avatar-panel">
    <avatar player="user"></avatar>
    <div class="btn-group">
      <button class="btn" ontap="showUpload()">Upload</button>
      <button class="btn" data-toggle="modal" data-target="#gallery" ontap="">Select</button>
    </div>
  </div>
</div>

<div id="gallery" class="modal hide fade" data-backdrop="true" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Avatar gallery</h3>
  </div>
  <div class="modal-body">
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;A Puppy.jpg&quot;)" static="images/avatars/A Puppy.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;A healthy shade of Green.jpg&quot;)" static="images/avatars/A healthy shade of Green.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Alana Purple.jpg&quot;)" static="images/avatars/Alana Purple.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Alexander Anderson Multi2.jpg&quot;)" static="images/avatars/Alexander Anderson Multi2.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Amberle small.jpg&quot;)" static="images/avatars/Amberle small.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Arctic Fox.jpg&quot;)" static="images/avatars/Arctic Fox.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Bald Eagle.jpg&quot;)" static="images/avatars/Bald Eagle.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Bluebird through the flames.jpg&quot;)" static="images/avatars/Bluebird through the flames.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Cheetah.jpg&quot;)" static="images/avatars/Cheetah.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Claire Portrait red.jpg&quot;)" static="images/avatars/Claire Portrait red.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Cute Hedgehog.jpg&quot;)" static="images/avatars/Cute Hedgehog.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Dark Wolf.jpg&quot;)" static="images/avatars/Dark Wolf.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Depth of Vision.jpg&quot;)" static="images/avatars/Depth of Vision.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Don't Touch Me.jpg&quot;)" static="images/avatars/Don't Touch Me.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Drow Ranger.jpg&quot;)" static="images/avatars/Drow Ranger.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;EVERYONE.jpg&quot;)" static="images/avatars/EVERYONE.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Elfen Lied.jpg&quot;)" static="images/avatars/Elfen Lied.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Fennec.jpg&quot;)" static="images/avatars/Fennec.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Flamefish Blue.jpg&quot;)" static="images/avatars/Flamefish Blue.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Fool of a Took.jpg&quot;)" static="images/avatars/Fool of a Took.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Fuck you Im a Troll.jpg&quot;)" static="images/avatars/Fuck you Im a Troll.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;GIR.jpg&quot;)" static="images/avatars/GIR.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Gimli, son of Gloin.jpg&quot;)" static="images/avatars/Gimli, son of Gloin.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Grey Eagle.jpg&quot;)" static="images/avatars/Grey Eagle.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Hedgehog.jpg&quot;)" static="images/avatars/Hedgehog.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Hell Girl small 2.jpg&quot;)" static="images/avatars/Hell Girl small 2.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Icefrog.jpg&quot;)" static="images/avatars/Icefrog.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Jack on the Hill.jpg&quot;)" static="images/avatars/Jack on the Hill.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Jayne and Vera small 2.JPG&quot;)" static="images/avatars/Jayne and Vera small 2.JPG"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Koala.jpg&quot;)" static="images/avatars/Koala.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Leopard Gecko.jpg&quot;)" static="images/avatars/Leopard Gecko.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Little Bandit.jpg&quot;)" static="images/avatars/Little Bandit.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Little Red Shrike.jpg&quot;)" static="images/avatars/Little Red Shrike.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Littlefeather.jpg&quot;)" static="images/avatars/Littlefeather.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Lord of Winterfell.jpg&quot;)" static="images/avatars/Lord of Winterfell.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Magpie.jpg&quot;)" static="images/avatars/Magpie.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;No Sleep, No Dreams 2.jpg&quot;)" static="images/avatars/No Sleep, No Dreams 2.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Oscar's Grouchshades.jpg&quot;)" static="images/avatars/Oscar's Grouchshades.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Otter.jpg&quot;)" static="images/avatars/Otter.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Peacock.jpg&quot;)" static="images/avatars/Peacock.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Predator.jpg&quot;)" static="images/avatars/Predator.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Red Panda drawn.jpg&quot;)" static="images/avatars/Red Panda drawn.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Red Panda.jpg&quot;)" static="images/avatars/Red Panda.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Round Robin.jpg&quot;)" static="images/avatars/Round Robin.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Saguaro Sunset.jpg&quot;)" static="images/avatars/Saguaro Sunset.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Sandor Clegane, The Hound.jpg&quot;)" static="images/avatars/Sandor Clegane, The Hound.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Snow Panther C.jpg&quot;)" static="images/avatars/Snow Panther C.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Soot Stencil(small).JPG&quot;)" static="images/avatars/Soot Stencil(small).JPG"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Soul Eater Moon cleaned.JPG&quot;)" static="images/avatars/Soul Eater Moon cleaned.JPG"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Soul Eater.jpg&quot;)" static="images/avatars/Soul Eater.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Splendid Fairywren small.jpg&quot;)" static="images/avatars/Splendid Fairywren small.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Steely Green Gaze.jpg&quot;)" static="images/avatars/Steely Green Gaze.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;T-Rex 2.jpg&quot;)" static="images/avatars/T-Rex 2.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Teal Deer Tribal.jpg&quot;)" static="images/avatars/Teal Deer Tribal.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;The Imp.jpg&quot;)" static="images/avatars/The Imp.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;The Pencil Trick.jpg&quot;)" static="images/avatars/The Pencil Trick.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;The Portal (blue).jpg&quot;)" static="images/avatars/The Portal (blue).jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Totoro.jpg&quot;)" static="images/avatars/Totoro.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Twigg_X bewildered.jpg&quot;)" static="images/avatars/Twigg_X bewildered.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Twist.jpg&quot;)" static="images/avatars/Twist.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;V B&W.jpg&quot;)" static="images/avatars/V B&W.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Wereboar.jpg&quot;)" static="images/avatars/Wereboar.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Wild Thing.jpg&quot;)" static="images/avatars/Wild Thing.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Wolf Howl.jpg&quot;)" static="images/avatars/Wolf Howl.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Wolf.jpg&quot;)" static="images/avatars/Wolf.jpg"></span>
    <span><avatar data-toggle="modal" data-target="#gallery" ng-click="select(&quot;Young Cara.jpg&quot;)" static="images/avatars/Young Cara.jpg"></span>
  </div>
</div>
