<div class="navbar">
  <div class="navbar-inner">
    <span class="brand">Upgrade</span>
    <ul class="nav">
      <li><a href="#/dashboard">Back</a></li>
    </ul>
  </div>
</div>

<div class="main upgrade">
  <p>In order to play multiple games at once, you need to upgrade your Lunacy account. It costs <b>€ 1.49</b> which helps us cover our expenses to keep Lunacy running.</p>
  <p><button class="btn btn-primary" ng-click="start()">Upgrade my account</button></p>
  <p>If you do not upgrade your account, you can still continue playing your oldest running game for free.</p>
  <p><a href="mailto:support@playlunacy.com">Contact us</a> if you have any questions.</p>
</div>
